In [1]:
import pandas as pd

df_sales = pd.read_csv("pandas_practice.csv")
df_customers = pd.read_csv("customers.csv")

In [2]:
df_sales.head(), df_customers.head()

(          timestamp         city  temperature  humidity  windspeed  \
 0  2025-01-01 08:00  Minneapolis         12.5      80.0        5.2
 1  2025-01-01 09:00  Minneapolis         13.1      82.0        4.9
 2  2025-01-01 10:00  Minneapolis         15.2      85.0        5.5
 3  2025-01-01 11:00  Minneapolis         14.8       NaN        6.1
 4  2025-01-01 12:00  Minneapolis         16.0      78.0        5.8

    sales_amount   product     category  customer_id
 0         120.0    Laptop  Electronics          101
 1          35.5     Mouse  Electronics          102
 2           NaN  Keyboard  Electronics          103
 3          60.0   Monitor  Electronics          104
 4          25.0     Cable  Accessories          105  ,
    customer_id customer_name         city
 0            1          Ayan      Chicago
 1            2          Noor  Minneapolis
 2            3         Hamza      Seattle
 3            4          Sara       Dallas
 4            5          Zain    San Diego)

In [4]:
df_sales[df_sales["sales_amount"] > 35.0]

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id
0,2025-01-01 08:00,Minneapolis,12.5,80.0,5.2,120.0,Laptop,Electronics,101
1,2025-01-01 09:00,Minneapolis,13.1,82.0,4.9,35.5,Mouse,Electronics,102
3,2025-01-01 11:00,Minneapolis,14.8,NaN,6.1,60.0,Monitor,Electronics,104
5,2025-01-01 13:00,Chicago,18.4,75.0,7.2,80.0,Hoodie,Clothing,106
6,2025-01-01 14:00,Chicago,19.7,77.0,7.5,95.0,Shoes,Clothing,107
7,2025-01-01 15:00,Chicago,20.1,79.0,7.8,100.0,Jacket,Clothing,108
8,2025-01-01 16:00,Chicago,NaN,81.0,8.0,150.0,Laptop,Electronics,109
9,2025-01-01 17:00,Chicago,21.0,82.0,NaN,200.0,Phone,Electronics,110
11,2025-01-01 19:00,Seattle,9.8,90.0,3.0,45.5,Notebook,Office Supplies,112
13,2025-01-01 21:00,Seattle,30.0,95.0,2.2,5000.0,Monitor,Electronics,114
15,2025-01-01 23:00,Miami,26.7,60.0,12.1,300.0,Swimwear,Clothing,116
16,2025-01-02 00:00,Miami,27.2,58.0,11.8,275.0,Sunglasses,Accessories,117
18,2025-01-02 02:00,Miami,29.1,54.0,12.6,400.0,Sandals,Clothing,119
19,2025-01-02 03:00,Miami,100.0,52.0,12.7,350.0,Shirt,Clothing,120

In [9]:
df_sales["temperature"].mean()

np.float64(21.875)

In [10]:
df_sales["temperature"] = df_sales["temperature"].fillna(21.875)

In [11]:
df_sales["temperature"]

0      12.5
1      13.1
2      15.2
3      14.8
4      16.0
5      18.4
6      19.7
7      20.1
8      10.0
9      21.0
10     10.2
11      9.8
12      8.0
13     30.0
14      7.2
15     26.7
16     27.2
17     28.5
18     29.1
19    100.0
Name: temperature, dtype: float64

In [12]:
df_sales["humidity"].mean()

np.float64(76.84210526315789)

In [13]:
df_sales["humidity"] = df_sales["humidity"].fillna( 76.84210526315789 )

In [14]:
df_sales["humidity"]

0     80.000000
1     82.000000
2     85.000000
3     76.842105
4     78.000000
5     75.000000
6     77.000000
7     79.000000
8     81.000000
9     82.000000
10    88.000000
11    90.000000
12    93.000000
13    95.000000
14    96.000000
15    60.000000
16    58.000000
17    55.000000
18    54.000000
19    52.000000
Name: humidity, dtype: float64

In [15]:
df_sales["windspeed"].mean()

np.float64(6.9684210526315775)

In [16]:
df_sales["windspeed"] = df_sales["windspeed"].fillna( 6.9684210526315775 )

In [17]:
df_sales["windspeed"]

0      5.200000
1      4.900000
2      5.500000
3      6.100000
4      5.800000
5      7.200000
6      7.500000
7      7.800000
8      8.000000
9      6.968421
10     3.200000
11     3.000000
12     2.500000
13     2.200000
14     2.000000
15    12.100000
16    11.800000
17    12.300000
18    12.600000
19    12.700000
Name: windspeed, dtype: float64

In [18]:
df_sales["sales_per_degree"] = df_sales["sales_amount"] / df_sales["temperature"]

In [19]:
df_sales["sales_per_degree"]

0       9.600000
1       2.709924
2            NaN
3       4.054054
4       1.562500
5       4.347826
6       4.822335
7       4.975124
8      15.000000
9       9.523810
10      1.470588
11      4.642857
12      3.750000
13    166.666667
14      2.500000
15     11.235955
16     10.110294
17           NaN
18     13.745704
19      3.500000
Name: sales_per_degree, dtype: float64

In [20]:
df_sales["sales_per_degree"].mean()

np.float64(15.234313245468396)

In [21]:
df_sales["sales_per_degree"] = df_sales["sales_per_degree"].fillna( 15.234313245468396 )

In [22]:
df_sales["sales_per_degree"]

0       9.600000
1       2.709924
2      15.234313
3       4.054054
4       1.562500
5       4.347826
6       4.822335
7       4.975124
8      15.000000
9       9.523810
10      1.470588
11      4.642857
12      3.750000
13    166.666667
14      2.500000
15     11.235955
16     10.110294
17     15.234313
18     13.745704
19      3.500000
Name: sales_per_degree, dtype: float64

In [23]:
df_sales["feels_like_weather"] = df_sales["temperature"].apply(
    lambda t: "Cold" if t < 15 else ("Warm" if t <= 25 else "Hot")
)

In [24]:
df_sales["feels_like_weather"]

0     Cold
1     Cold
2     Warm
3     Cold
4     Warm
5     Warm
6     Warm
7     Warm
8     Cold
9     Warm
10    Cold
11    Cold
12    Cold
13     Hot
14    Cold
15     Hot
16     Hot
17     Hot
18     Hot
19     Hot
Name: feels_like_weather, dtype: object

In [25]:
df_sales.groupby("city")["sales_amount"].sum()

city
Chicago         625.0
Miami          1325.0
Minneapolis     240.5
Seattle        5108.5
Name: sales_amount, dtype: float64

In [26]:
df_sales.groupby("city")["sales_per_degree"].sum()

city
Chicago         38.669095
Miami           53.826267
Minneapolis     33.160791
Seattle        179.030112
Name: sales_per_degree, dtype: float64

In [27]:
df_sales.groupby("category")["sales_amount"].agg( ["sum", "mean", "count"] )

                    sum        mean  count
category
Accessories       300.0  150.000000      2
Clothing         1325.0  220.833333      6
Electronics      5565.5  927.583333      6
Office Supplies   108.5   27.125000      4

In [40]:
df_merged1 = df_sales.merge(df_customers, how="inner", on="customer_id")

In [34]:
df_merged2 = df_sales.merge(df_customers, how="outer")

In [42]:
df_merged1

Empty DataFrame
Columns: [timestamp, city_x, temperature, humidity, windspeed, sales_amount, product, category, customer_id, sales_per_degree, feels_like_weather, customer_name, city_y]
Index: []

In [43]:
df_merged2

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id,sales_per_degree,feels_like_weather,customer_name
0,NaN,Chicago,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,Ayan
1,2025-01-01 13:00,Chicago,18.4,75.000000,7.200000,80.0,Hoodie,Clothing,106,4.347826,Warm,NaN
2,2025-01-01 14:00,Chicago,19.7,77.000000,7.500000,95.0,Shoes,Clothing,107,4.822335,Warm,NaN
3,2025-01-01 15:00,Chicago,20.1,79.000000,7.800000,100.0,Jacket,Clothing,108,4.975124,Warm,NaN
4,2025-01-01 16:00,Chicago,10.0,81.000000,8.000000,150.0,Laptop,Electronics,109,15.000000,Cold,NaN
5,2025-01-01 17:00,Chicago,21.0,82.000000,6.968421,200.0,Phone,Electronics,110,9.523810,Warm,NaN
6,NaN,Dallas,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,Sara
7,2025-01-01 23:00,Miami,26.7,60.000000,12.100000,300.0,Swimwear,Clothing,116,11.235955,Hot,NaN
8,2025-01-02 00:00,Miami,27.2,58.000000,11.800000,275.0,Sunglasses,Accessories,117,10.110294,Hot,NaN
9,2025-01-02 01:00,Miami,28.5,55.000000,12.300000,NaN,Beach Towel,Accessories,118,15.234313,Hot,NaN
10,2025-01-02 02:00,Miami,29.1,54.000000,12.600000,400.0,Sandals,Clothing,119,13.745704,Hot,NaN
11,2025-01-02 03:00,Miami,100.0,52.000000,12.700000,350.0,Shirt,Clothing,120,3.500000,Hot,NaN
12,NaN,Minneapolis,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,Noor
13,2025-01-01 08:00,Minneapolis,12.5,80.000000,5.200000,120.0,Laptop,Electronics,101,9.600000,Cold,NaN
14,2025-01-01 09:00,Minneapolis,13.1,82.000000,4.900000,35.5,Mouse,Electronics,102,2.709924,Cold,NaN
15,2025-01-01 10:00,Minneapolis,15.2,85.000000,5.500000,NaN,Keyboard,Electronics,103,15.234313,Warm,NaN
16,2025-01-01 11:00,Minneapolis,14.8,76.842105,6.100000,60.0,Monitor,Electronics,104,4.054054,Cold,NaN
17,2025-01-01 12:00,Minneapolis,16.0,78.000000,5.800000,25.0,Cable,Accessories,105,1.562500,Warm,NaN
18,NaN,San Diego,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,Zain
19,NaN,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,Hamza
20,2025-01-01 18:00,Seattle,10.2,88.000000,3.200000,15.0,Pen,Office Supplies,111,1.470588,Cold,NaN
21,2025-01-01 19:00,Seattle,9.8,90.000000,3.000000,45.5,Notebook,Office Supplies,112,4.642857,Cold,NaN
22,2025-01-01 20:00,Seattle,8.0,93.000000,2.500000,30.0,Folder,Office Supplies,113,3.750000,Cold,NaN
23,2025-01-01 21:00,Seattle,30.0,95.000000,2.200000,5000.0,Monitor,Electronics,114,166.666667,Hot,NaN
24,2025-01-01 22:00,Seattle,7.2,96.000000,2.000000,18.0,Marker,Office Supplies,115,2.500000,Cold,NaN

In [44]:
df_part1 = df_sales.head(5)

In [45]:
df_part1

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id,sales_per_degree,feels_like_weather
0,2025-01-01 08:00,Minneapolis,12.5,80.000000,5.2,120.0,Laptop,Electronics,101,9.600000,Cold
1,2025-01-01 09:00,Minneapolis,13.1,82.000000,4.9,35.5,Mouse,Electronics,102,2.709924,Cold
2,2025-01-01 10:00,Minneapolis,15.2,85.000000,5.5,NaN,Keyboard,Electronics,103,15.234313,Warm
3,2025-01-01 11:00,Minneapolis,14.8,76.842105,6.1,60.0,Monitor,Electronics,104,4.054054,Cold
4,2025-01-01 12:00,Minneapolis,16.0,78.000000,5.8,25.0,Cable,Accessories,105,1.562500,Warm

In [46]:
df_part2 = df_sales.iloc[5:10]

In [47]:
df_part2

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id,sales_per_degree,feels_like_weather
5,2025-01-01 13:00,Chicago,18.4,75.0,7.200000,80.0,Hoodie,Clothing,106,4.347826,Warm
6,2025-01-01 14:00,Chicago,19.7,77.0,7.500000,95.0,Shoes,Clothing,107,4.822335,Warm
7,2025-01-01 15:00,Chicago,20.1,79.0,7.800000,100.0,Jacket,Clothing,108,4.975124,Warm
8,2025-01-01 16:00,Chicago,10.0,81.0,8.000000,150.0,Laptop,Electronics,109,15.000000,Cold
9,2025-01-01 17:00,Chicago,21.0,82.0,6.968421,200.0,Phone,Electronics,110,9.523810,Warm

In [49]:
df_combined= pd.concat([df_part1, df_part2], axis=0)

In [50]:
df_combined

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id,sales_per_degree,feels_like_weather
0,2025-01-01 08:00,Minneapolis,12.5,80.000000,5.200000,120.0,Laptop,Electronics,101,9.600000,Cold
1,2025-01-01 09:00,Minneapolis,13.1,82.000000,4.900000,35.5,Mouse,Electronics,102,2.709924,Cold
2,2025-01-01 10:00,Minneapolis,15.2,85.000000,5.500000,NaN,Keyboard,Electronics,103,15.234313,Warm
3,2025-01-01 11:00,Minneapolis,14.8,76.842105,6.100000,60.0,Monitor,Electronics,104,4.054054,Cold
4,2025-01-01 12:00,Minneapolis,16.0,78.000000,5.800000,25.0,Cable,Accessories,105,1.562500,Warm
5,2025-01-01 13:00,Chicago,18.4,75.000000,7.200000,80.0,Hoodie,Clothing,106,4.347826,Warm
6,2025-01-01 14:00,Chicago,19.7,77.000000,7.500000,95.0,Shoes,Clothing,107,4.822335,Warm
7,2025-01-01 15:00,Chicago,20.1,79.000000,7.800000,100.0,Jacket,Clothing,108,4.975124,Warm
8,2025-01-01 16:00,Chicago,10.0,81.000000,8.000000,150.0,Laptop,Electronics,109,15.000000,Cold
9,2025-01-01 17:00,Chicago,21.0,82.000000,6.968421,200.0,Phone,Electronics,110,9.523810,Warm

In [57]:
df_sales["is_big_purchase"] = df_sales["sales_amount"].apply(lambda x: "YES" if x > 200 else "NO")

In [58]:
df_sales["is_big_purchase"]

0      NO
1      NO
2      NO
3      NO
4      NO
5      NO
6      NO
7      NO
8      NO
9      NO
10     NO
11     NO
12     NO
13    YES
14     NO
15    YES
16    YES
17     NO
18    YES
19    YES
Name: is_big_purchase, dtype: object