In [1]:
import pandas as pd

df = pd.read_csv('pandas_practice.csv')

In [2]:
print(df)

           timestamp         city  temperature  humidity  windspeed  \
0   2025-01-01 08:00  Minneapolis         12.5      80.0        5.2
1   2025-01-01 09:00  Minneapolis         13.1      82.0        4.9
2   2025-01-01 10:00  Minneapolis         15.2      85.0        5.5
3   2025-01-01 11:00  Minneapolis         14.8       NaN        6.1
4   2025-01-01 12:00  Minneapolis         16.0      78.0        5.8
5   2025-01-01 13:00      Chicago         18.4      75.0        7.2
6   2025-01-01 14:00      Chicago         19.7      77.0        7.5
7   2025-01-01 15:00      Chicago         20.1      79.0        7.8
8   2025-01-01 16:00      Chicago          NaN      81.0        8.0
9   2025-01-01 17:00      Chicago         21.0      82.0        NaN
10  2025-01-01 18:00      Seattle         10.2      88.0        3.2
11  2025-01-01 19:00      Seattle          9.8      90.0        3.0
12  2025-01-01 20:00      Seattle          8.0      93.0        2.5
13  2025-01-01 21:00      Seattle         30.0      95.0        2.2
14  2025-01-01 22:00      Seattle          7.2      96.0        2.0
15  2025-01-01 23:00        Miami         26.7      60.0       12.1
16  2025-01-02 00:00        Miami         27.2      58.0       11.8
17  2025-01-02 01:00        Miami         28.5      55.0       12.3
18  2025-01-02 02:00        Miami         29.1      54.0       12.6
19  2025-01-02 03:00        Miami        100.0      52.0       12.7

    sales_amount      product         category  customer_id
0          120.0       Laptop      Electronics          101
1           35.5        Mouse      Electronics          102
2            NaN     Keyboard      Electronics          103
3           60.0      Monitor      Electronics          104
4           25.0        Cable      Accessories          105
5           80.0       Hoodie         Clothing          106
6           95.0        Shoes         Clothing          107
7          100.0       Jacket         Clothing          108
8          150.0       Laptop      Electronics          109
9          200.0        Phone      Electronics          110
10          15.0          Pen  Office Supplies          111
11          45.5     Notebook  Office Supplies          112
12          30.0       Folder  Office Supplies          113
13        5000.0      Monitor      Electronics          114
14          18.0       Marker  Office Supplies          115
15         300.0     Swimwear         Clothing          116
16         275.0   Sunglasses      Accessories          117
17           NaN  Beach Towel      Accessories          118
18         400.0      Sandals         Clothing          119
19         350.0        Shirt         Clothing          120

In [3]:
df.head()

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id
0,2025-01-01 08:00,Minneapolis,12.5,80.0,5.2,120.0,Laptop,Electronics,101
1,2025-01-01 09:00,Minneapolis,13.1,82.0,4.9,35.5,Mouse,Electronics,102
2,2025-01-01 10:00,Minneapolis,15.2,85.0,5.5,NaN,Keyboard,Electronics,103
3,2025-01-01 11:00,Minneapolis,14.8,NaN,6.1,60.0,Monitor,Electronics,104
4,2025-01-01 12:00,Minneapolis,16.0,78.0,5.8,25.0,Cable,Accessories,105

In [4]:
df.tail()

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id
15,2025-01-01 23:00,Miami,26.7,60.0,12.1,300.0,Swimwear,Clothing,116
16,2025-01-02 00:00,Miami,27.2,58.0,11.8,275.0,Sunglasses,Accessories,117
17,2025-01-02 01:00,Miami,28.5,55.0,12.3,NaN,Beach Towel,Accessories,118
18,2025-01-02 02:00,Miami,29.1,54.0,12.6,400.0,Sandals,Clothing,119
19,2025-01-02 03:00,Miami,100.0,52.0,12.7,350.0,Shirt,Clothing,120

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     20 non-null     object
 1   city          20 non-null     object
 2   temperature   19 non-null     float64
 3   humidity      19 non-null     float64
 4   windspeed     19 non-null     float64
 5   sales_amount  18 non-null     float64
 6   product       20 non-null     object
 7   category      20 non-null     object
 8   customer_id   20 non-null     int64
dtypes: float64(4), int64(1), object(4)
memory usage: 1.5+ KB

In [6]:
df.describe()

       temperature   humidity  windspeed  sales_amount  customer_id
count    19.000000  19.000000  19.000000     18.000000     20.00000
mean     22.500000  76.842105   6.968421    405.500000    110.50000
std      20.158483  14.272207   3.754857   1152.993801      5.91608
min       7.200000  52.000000   2.000000     15.000000    101.00000
25%      12.800000  67.500000   4.050000     38.000000    105.75000
50%      18.400000  80.000000   6.100000     97.500000    110.50000
75%      26.950000  86.500000   9.900000    256.250000    115.25000
max     100.000000  96.000000  12.700000   5000.000000    120.00000

In [8]:
df.columns

Index(['timestamp', 'city', 'temperature', 'humidity', 'windspeed',
       'sales_amount', 'product', 'category', 'customer_id'],
      dtype='object')

In [9]:
df.index

RangeIndex(start=0, stop=20, step=1)

In [10]:
df['city']

0     Minneapolis
1     Minneapolis
2     Minneapolis
3     Minneapolis
4     Minneapolis
5         Chicago
6         Chicago
7         Chicago
8         Chicago
9         Chicago
10        Seattle
11        Seattle
12        Seattle
13        Seattle
14        Seattle
15          Miami
16          Miami
17          Miami
18          Miami
19          Miami
Name: city, dtype: object

In [11]:
len(df['city'])

20

In [12]:
set(df['city'])

{'Chicago', 'Miami', 'Minneapolis', 'Seattle'}

In [15]:
df[['city', "product", 'category']]

           city      product         category
0   Minneapolis       Laptop      Electronics
1   Minneapolis        Mouse      Electronics
2   Minneapolis     Keyboard      Electronics
3   Minneapolis      Monitor      Electronics
4   Minneapolis        Cable      Accessories
5       Chicago       Hoodie         Clothing
6       Chicago        Shoes         Clothing
7       Chicago       Jacket         Clothing
8       Chicago       Laptop      Electronics
9       Chicago        Phone      Electronics
10      Seattle          Pen  Office Supplies
11      Seattle     Notebook  Office Supplies
12      Seattle       Folder  Office Supplies
13      Seattle      Monitor      Electronics
14      Seattle       Marker  Office Supplies
15        Miami     Swimwear         Clothing
16        Miami   Sunglasses      Accessories
17        Miami  Beach Towel      Accessories
18        Miami      Sandals         Clothing
19        Miami        Shirt         Clothing

In [16]:
df.iloc[0]

timestamp       2025-01-01 08:00
city                 Minneapolis
temperature                 12.5
humidity                    80.0
windspeed                    5.2
sales_amount               120.0
product                   Laptop
category             Electronics
customer_id                  101
Name: 0, dtype: object

In [17]:
df.iloc[15]

timestamp       2025-01-01 23:00
city                       Miami
temperature                 26.7
humidity                    60.0
windspeed                   12.1
sales_amount               300.0
product                 Swimwear
category                Clothing
customer_id                  116
Name: 15, dtype: object

In [18]:
list(df.iloc[15])

['2025-01-01 23:00',
 'Miami',
 np.float64(26.7),
 np.float64(60.0),
 np.float64(12.1),
 np.float64(300.0),
 'Swimwear',
 'Clothing',
 np.int64(116)]

In [19]:
df.iloc[15]['city']

'Miami'

In [20]:
df[df['city'] == 'Minneapolis']

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id
0,2025-01-01 08:00,Minneapolis,12.5,80.0,5.2,120.0,Laptop,Electronics,101
1,2025-01-01 09:00,Minneapolis,13.1,82.0,4.9,35.5,Mouse,Electronics,102
2,2025-01-01 10:00,Minneapolis,15.2,85.0,5.5,NaN,Keyboard,Electronics,103
3,2025-01-01 11:00,Minneapolis,14.8,NaN,6.1,60.0,Monitor,Electronics,104
4,2025-01-01 12:00,Minneapolis,16.0,78.0,5.8,25.0,Cable,Accessories,105

In [22]:
df[df['product'] == 'Laptop']

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id
0,2025-01-01 08:00,Minneapolis,12.5,80.0,5.2,120.0,Laptop,Electronics,101
8,2025-01-01 16:00,Chicago,NaN,81.0,8.0,150.0,Laptop,Electronics,109

In [24]:
df[(df['product'] == 'Laptop') & (df['city'] == 'Minneapolis')]

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id
0,2025-01-01 08:00,Minneapolis,12.5,80.0,5.2,120.0,Laptop,Electronics,101

In [25]:
df[(df['product'] == 'Laptop') | (df['city'] == 'Chicago')]

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id
0,2025-01-01 08:00,Minneapolis,12.5,80.0,5.2,120.0,Laptop,Electronics,101
5,2025-01-01 13:00,Chicago,18.4,75.0,7.2,80.0,Hoodie,Clothing,106
6,2025-01-01 14:00,Chicago,19.7,77.0,7.5,95.0,Shoes,Clothing,107
7,2025-01-01 15:00,Chicago,20.1,79.0,7.8,100.0,Jacket,Clothing,108
8,2025-01-01 16:00,Chicago,NaN,81.0,8.0,150.0,Laptop,Electronics,109
9,2025-01-01 17:00,Chicago,21.0,82.0,NaN,200.0,Phone,Electronics,110

In [26]:
df[df['temperature'] > 20.0]

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id
7,2025-01-01 15:00,Chicago,20.1,79.0,7.8,100.0,Jacket,Clothing,108
9,2025-01-01 17:00,Chicago,21.0,82.0,NaN,200.0,Phone,Electronics,110
13,2025-01-01 21:00,Seattle,30.0,95.0,2.2,5000.0,Monitor,Electronics,114
15,2025-01-01 23:00,Miami,26.7,60.0,12.1,300.0,Swimwear,Clothing,116
16,2025-01-02 00:00,Miami,27.2,58.0,11.8,275.0,Sunglasses,Accessories,117
17,2025-01-02 01:00,Miami,28.5,55.0,12.3,NaN,Beach Towel,Accessories,118
18,2025-01-02 02:00,Miami,29.1,54.0,12.6,400.0,Sandals,Clothing,119
19,2025-01-02 03:00,Miami,100.0,52.0,12.7,350.0,Shirt,Clothing,120

In [29]:
df[df['humidity'] <100.0]

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id
0,2025-01-01 08:00,Minneapolis,12.5,80.0,5.2,120.0,Laptop,Electronics,101
1,2025-01-01 09:00,Minneapolis,13.1,82.0,4.9,35.5,Mouse,Electronics,102
2,2025-01-01 10:00,Minneapolis,15.2,85.0,5.5,NaN,Keyboard,Electronics,103
4,2025-01-01 12:00,Minneapolis,16.0,78.0,5.8,25.0,Cable,Accessories,105
5,2025-01-01 13:00,Chicago,18.4,75.0,7.2,80.0,Hoodie,Clothing,106
6,2025-01-01 14:00,Chicago,19.7,77.0,7.5,95.0,Shoes,Clothing,107
7,2025-01-01 15:00,Chicago,20.1,79.0,7.8,100.0,Jacket,Clothing,108
8,2025-01-01 16:00,Chicago,NaN,81.0,8.0,150.0,Laptop,Electronics,109
9,2025-01-01 17:00,Chicago,21.0,82.0,NaN,200.0,Phone,Electronics,110
10,2025-01-01 18:00,Seattle,10.2,88.0,3.2,15.0,Pen,Office Supplies,111
11,2025-01-01 19:00,Seattle,9.8,90.0,3.0,45.5,Notebook,Office Supplies,112
12,2025-01-01 20:00,Seattle,8.0,93.0,2.5,30.0,Folder,Office Supplies,113
13,2025-01-01 21:00,Seattle,30.0,95.0,2.2,5000.0,Monitor,Electronics,114
14,2025-01-01 22:00,Seattle,7.2,96.0,2.0,18.0,Marker,Office Supplies,115
15,2025-01-01 23:00,Miami,26.7,60.0,12.1,300.0,Swimwear,Clothing,116
16,2025-01-02 00:00,Miami,27.2,58.0,11.8,275.0,Sunglasses,Accessories,117
17,2025-01-02 01:00,Miami,28.5,55.0,12.3,NaN,Beach Towel,Accessories,118
18,2025-01-02 02:00,Miami,29.1,54.0,12.6,400.0,Sandals,Clothing,119
19,2025-01-02 03:00,Miami,100.0,52.0,12.7,350.0,Shirt,Clothing,120

In [30]:
df[df['city'].str.startswith('M')]

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id
0,2025-01-01 08:00,Minneapolis,12.5,80.0,5.2,120.0,Laptop,Electronics,101
1,2025-01-01 09:00,Minneapolis,13.1,82.0,4.9,35.5,Mouse,Electronics,102
2,2025-01-01 10:00,Minneapolis,15.2,85.0,5.5,NaN,Keyboard,Electronics,103
3,2025-01-01 11:00,Minneapolis,14.8,NaN,6.1,60.0,Monitor,Electronics,104
4,2025-01-01 12:00,Minneapolis,16.0,78.0,5.8,25.0,Cable,Accessories,105
15,2025-01-01 23:00,Miami,26.7,60.0,12.1,300.0,Swimwear,Clothing,116
16,2025-01-02 00:00,Miami,27.2,58.0,11.8,275.0,Sunglasses,Accessories,117
17,2025-01-02 01:00,Miami,28.5,55.0,12.3,NaN,Beach Towel,Accessories,118
18,2025-01-02 02:00,Miami,29.1,54.0,12.6,400.0,Sandals,Clothing,119
19,2025-01-02 03:00,Miami,100.0,52.0,12.7,350.0,Shirt,Clothing,120

In [32]:
df[df['city'].str.endswith('o')]

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id
5,2025-01-01 13:00,Chicago,18.4,75.0,7.2,80.0,Hoodie,Clothing,106
6,2025-01-01 14:00,Chicago,19.7,77.0,7.5,95.0,Shoes,Clothing,107
7,2025-01-01 15:00,Chicago,20.1,79.0,7.8,100.0,Jacket,Clothing,108
8,2025-01-01 16:00,Chicago,NaN,81.0,8.0,150.0,Laptop,Electronics,109
9,2025-01-01 17:00,Chicago,21.0,82.0,NaN,200.0,Phone,Electronics,110

In [33]:
df[df['city'].isin(['Chicago','Miami'])]

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id
5,2025-01-01 13:00,Chicago,18.4,75.0,7.2,80.0,Hoodie,Clothing,106
6,2025-01-01 14:00,Chicago,19.7,77.0,7.5,95.0,Shoes,Clothing,107
7,2025-01-01 15:00,Chicago,20.1,79.0,7.8,100.0,Jacket,Clothing,108
8,2025-01-01 16:00,Chicago,NaN,81.0,8.0,150.0,Laptop,Electronics,109
9,2025-01-01 17:00,Chicago,21.0,82.0,NaN,200.0,Phone,Electronics,110
15,2025-01-01 23:00,Miami,26.7,60.0,12.1,300.0,Swimwear,Clothing,116
16,2025-01-02 00:00,Miami,27.2,58.0,11.8,275.0,Sunglasses,Accessories,117
17,2025-01-02 01:00,Miami,28.5,55.0,12.3,NaN,Beach Towel,Accessories,118
18,2025-01-02 02:00,Miami,29.1,54.0,12.6,400.0,Sandals,Clothing,119
19,2025-01-02 03:00,Miami,100.0,52.0,12.7,350.0,Shirt,Clothing,120

In [37]:
df[~df['city'].isin(['Chicago','Miami'])]

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id
0,2025-01-01 08:00,Minneapolis,12.5,80.0,5.2,120.0,Laptop,Electronics,101
1,2025-01-01 09:00,Minneapolis,13.1,82.0,4.9,35.5,Mouse,Electronics,102
2,2025-01-01 10:00,Minneapolis,15.2,85.0,5.5,NaN,Keyboard,Electronics,103
3,2025-01-01 11:00,Minneapolis,14.8,NaN,6.1,60.0,Monitor,Electronics,104
4,2025-01-01 12:00,Minneapolis,16.0,78.0,5.8,25.0,Cable,Accessories,105
10,2025-01-01 18:00,Seattle,10.2,88.0,3.2,15.0,Pen,Office Supplies,111
11,2025-01-01 19:00,Seattle,9.8,90.0,3.0,45.5,Notebook,Office Supplies,112
12,2025-01-01 20:00,Seattle,8.0,93.0,2.5,30.0,Folder,Office Supplies,113
13,2025-01-01 21:00,Seattle,30.0,95.0,2.2,5000.0,Monitor,Electronics,114
14,2025-01-01 22:00,Seattle,7.2,96.0,2.0,18.0,Marker,Office Supplies,115

In [45]:
df.loc[df['customer_id'] == 101, 'humidity'] = 'Laptop'

In [48]:
df.loc[df['customer_id'] == 101]

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id,prodcut
0,2025-01-01 08:00,Saint Paul,12.5,Laptop,5.2,120.0,Laptop,Electronics,101,Laptop

In [49]:
df.loc[df['city'] == 'Minneapolis', 'city'] = 'Saint Paul'

In [51]:
df.loc[df['city'] == 'Saint Paul']

,timestamp,city,temperature,humidity,windspeed,sales_amount,product,category,customer_id,prodcut
0,2025-01-01 08:00,Saint Paul,12.5,Laptop,5.2,120.0,Laptop,Electronics,101,Laptop
1,2025-01-01 09:00,Saint Paul,13.1,82.0,4.9,35.5,Mouse,Electronics,102,Laptop
2,2025-01-01 10:00,Saint Paul,15.2,85.0,5.5,NaN,Keyboard,Electronics,103,Laptop
3,2025-01-01 11:00,Saint Paul,14.8,NaN,6.1,60.0,Monitor,Electronics,104,Laptop
4,2025-01-01 12:00,Saint Paul,16.0,78.0,5.8,25.0,Cable,Accessories,105,Laptop

In [52]:
df= df.drop(17)

In [53]:
df.tail

<bound method NDFrame.tail of            timestamp        city  temperature humidity  windspeed  \
0   2025-01-01 08:00  Saint Paul         12.5   Laptop        5.2
1   2025-01-01 09:00  Saint Paul         13.1     82.0        4.9
2   2025-01-01 10:00  Saint Paul         15.2     85.0        5.5
3   2025-01-01 11:00  Saint Paul         14.8      NaN        6.1
4   2025-01-01 12:00  Saint Paul         16.0     78.0        5.8
5   2025-01-01 13:00     Chicago         18.4     75.0        7.2
6   2025-01-01 14:00     Chicago         19.7     77.0        7.5
7   2025-01-01 15:00     Chicago         20.1     79.0        7.8
8   2025-01-01 16:00     Chicago          NaN     81.0        8.0
9   2025-01-01 17:00     Chicago         21.0     82.0        NaN
10  2025-01-01 18:00     Seattle         10.2     88.0        3.2
11  2025-01-01 19:00     Seattle          9.8     90.0        3.0
12  2025-01-01 20:00     Seattle          8.0     93.0        2.5
13  2025-01-01 21:00     Seattle         30.0     95.0        2.2
14  2025-01-01 22:00     Seattle          7.2     96.0        2.0
15  2025-01-01 23:00       Miami         26.7     60.0       12.1
16  2025-01-02 00:00       Miami         27.2     58.0       11.8
18  2025-01-02 02:00       Miami         29.1     54.0       12.6
19  2025-01-02 03:00       Miami        100.0     52.0       12.7

    sales_amount     product         category  customer_id prodcut
0          120.0      Laptop      Electronics          101  Laptop
1           35.5       Mouse      Electronics          102  Laptop
2            NaN    Keyboard      Electronics          103  Laptop
3           60.0     Monitor      Electronics          104  Laptop
4           25.0       Cable      Accessories          105  Laptop
5           80.0      Hoodie         Clothing          106     NaN
6           95.0       Shoes         Clothing          107     NaN
7          100.0      Jacket         Clothing          108     NaN
8          150.0      Laptop      Electronics          109     NaN
9          200.0       Phone      Electronics          110     NaN
10          15.0         Pen  Office Supplies          111     NaN
11          45.5    Notebook  Office Supplies          112     NaN
12          30.0      Folder  Office Supplies          113     NaN
13        5000.0     Monitor      Electronics          114     NaN
14          18.0      Marker  Office Supplies          115     NaN
15         300.0    Swimwear         Clothing          116     NaN
16         275.0  Sunglasses      Accessories          117     NaN
18         400.0     Sandals         Clothing          119     NaN
19         350.0       Shirt         Clothing          120     NaN  >

In [57]:
df.dropna()
df.fillna({'customer_id': 1}, inplace=True)

In [ ]:
df.rename(coul